html,body {
  height: 100%;
}
#container{
  display: flex;
  flex-direction: column;
}
#header{
  background: linear-gradient(90deg, rgba(247,190,144,1) 0%, rgba(214,183,210,1) 100%);
}

#nome{
  letter-spacing: 2px;
}

#logo-img{
  height: 12vh;
}
#linha{
  background-color: #BADBDD
}
.bi:hover{
  filter: brightness(0.8)
}
.color{
  padding: 0 .375rem;
}
.card{
  --bs-border-color: rgba(0, 0, 0, .125) !important;
}

.icon-link-hover{
  --bs-icon-link-transform: translate3d(0, -.125rem, 0);
}